autopep8==1.6.0
importlib-metadata==4.11.2
Mako==1.2.0
Markdown==3.3.6
MarkupSafe==2.1.0
numpy==1.22.2
pandas==1.4.0
parameterized==0.8.1
pdoc3==0.10.0
pdrle==0.5.0
pycodestyle==2.8.0
python-dateutil==2.8.2
pytz==2021.3
scipy==1.8.0
six==1.16.0
toml==0.10.2
zipp==3.7.0
